<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROJET_MOBILE"
        tools:targetApi="31">

        <activity
            android:name=".GameResultActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EndGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".NameVoteActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WaitingRoomActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SaloonCreatorActivity"
            android:exported="false" />
        <activity
            android:name=".SaloonChoiceActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".NameChoiceActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SpellChoiceActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FCMNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
             android:value="INSERT API KEY HERE" />
    </application>

</manifest>
